In [8]:
input = "He was born in the year of 1975, named as  MR.John"
print(input)

He was born in the year of 1975, named as  MR.John

In [18]:
# lowercase
lowercase = input.lower()
print(lowercase)
print("LOWERCASE = ", lowercase)

#re

#pip install re
import re #Regular Expression
lowercase_re = re.sub('1975', '2025', lowercase)
print("REGULAR EXP1 = ",lowercase_re)
lowercase_re = re.sub('[a-i]', '*', lowercase)
print("REGULAR EXP2 = ",lowercase_re)
lowercase_re = re.sub('/d', '-', lowercase)
print("REGULAR EXP3 = ",lowercase_re)

he was born in the year of 1975, named as  mr.john
LOWERCASE =  he was born in the year of 1975, named as  mr.john
REGULAR EXP1 =  he was born in the year of 2025, named as  mr.john
REGULAR EXP2 =  ** w*s *orn *n t** y**r o* 1975, n*m** *s  mr.jo*n
REGULAR EXP3 =  he was born in the year of 1975, named as  mr.john

In [19]:
#(2)Tokenization
import nltk
from nltk import word_tokenize, sent_tokenize

word_tokens = word_tokenize(input)
print("WORD TOKENS = ", word_tokens)
print(len(word_tokens))
sent_tokens = sent_tokenize(input)
print("SENT TOKENS = ", sent_tokens)
print(len(sent_tokens))

WORD TOKENS =  ['He', 'was', 'born', 'in', 'the', 'year', 'of', '1975', ',', 'named', 'as', 'MR.John']
12
SENT TOKENS =  ['He was born in the year of 1975, named as  MR.John']
1

In [22]:
#(3)stopwords Removal
from nltk.corpus import stopwords
#print(stopwords.fileids())
stopwords = set(stopwords.words('english'))
#print("\n", stopwords)

tokens_stopwords = []
for token in word_tokens:
    if token not in stopwords:
        tokens_stopwords.append(token)
print(' '.join(tokens_stopwords))

He born year 1975 , named MR.John

['he', 'born', 'year', '1975', ',', 'name', 'mr.john']

In [24]:
#Lemmatizer
from nltk import WordNetLemmatizer
lma = []
for word in tokens_stopwords:
    lma.append(WordNetLemmatizer().lemmatize(word))
print(lma)

['He', 'born', 'year', '1975', ',', 'named', 'MR.John']

In [25]:
#POS Tags
from nltk import pos_tag
print(pos_tag(word_tokens))

[('He', 'PRP'), ('was', 'VBD'), ('born', 'VBN'), ('in', 'IN'), ('the', 'DT'), ('year', 'NN'), ('of', 'IN'), ('1975', 'CD'), (',', ','), ('named', 'VBN'), ('as', 'IN'), ('MR.John', 'NNP')]